<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPWXmlKit (Linux).xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>ObjectiveXML.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>ObjectiveXMLTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>ObjectiveXMLTouch.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F2553E80D627362007D8DAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F3C7B44136FE2EF009C0697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4B0F610DBEB75A00639DC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5A6CAA1170104300E4A959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5ED2201FDBCDBB001D28FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F81BFF3196992370066DF43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F81BFFD196992380066DF43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F96E5C409B62F5C0063D669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FB43B5510BFB6EF00490AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FD564AB0E2ECB2D00607D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FD5DAFF0F2CEDB000F8F769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
